@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.navbar {
  background-color: rgba(242, 235, 235, 0.7);
  width: 100%;
  position: fixed;
  animation-name: aparecer1;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  z-index: 99999;
}
@keyframes aparecer1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navbar .navbar-brand {
  animation-name: aparecer2;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.8s;
}
@keyframes aparecer2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}
.navbar img {
  height: 90px;
}
.navbar .collapse ul li {
  padding: 15px;
}
.navbar .collapse ul li .nav-link {
  color: black !important;
  font-size: 22px !important;
  transition: all 0.3s;
  animation-name: movimiento;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}
@keyframes movimiento {
  0% {
    opacity: 0;
    transform: translateX(160px);
  }
  30% {
    opacity: 1;
    text-shadow: 0 0 5px black;
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 10px black;
  }
  100% {
    transform: translateX(0);
  }
}
.navbar .nav-link:hover {
  color: white !important;
  transform: scale(1.06);
}

.jumbotron {
  background-color: rgb(121, 7, 7);
  font-size: 40px;
  height: 900px;
  color: black;
  padding-top: 590px;
  padding-left: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.jumbotron h1 {
  font-size: 40px;
  font-weight: bold;
}
.jumbotron p {
  font-size: 27px;
}
.jumbotron a {
  font-size: 18px;
}
.jumbotron .btn {
  background-color: rgb(121, 7, 7);
  border-radius: 15px;
  border: 2px solid black;
  transition: all 0.7s;
}
.jumbotron .btn:hover {
  transform: scale(1.1);
  background-color: black;
}

.jumbotron1 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7)), url(../multimedia/imagenes/Arquitectos\ en\ obra\ 3.jpg);
}

h2 {
  background-color: black;
  font-size: 27px;
  height: 60px;
  color: white;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  line-height: unset;
  padding: 10px;
  text-shadow: 0 0 5px white;
  margin-bottom: 0;
}

.main p {
  color: white;
  font-size: 18px;
  text-align: justify;
  padding-top: 20px;
}
.main .carousel-indicators button[type=button] {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.swiper-container {
  position: relative;
  height: 100%;
  padding: 10px;
  overflow: hidden;
  /*Swipers*/
}
.swiper-container .card {
  transition: all 0.7s;
  color: black;
  padding: 15px;
}
.swiper-container .card .card-1 {
  background-image: url(../multimedia/imagenes/Casa1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}
.swiper-container .card .card-2 {
  background-image: url(../multimedia/imagenes/Casa2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}
.swiper-container .card .card-3 {
  background-image: url(../multimedia/imagenes/Casa3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}
.swiper-container .card .card-4 {
  background-image: url(../multimedia/imagenes/Casa4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}
.swiper-container .card .card-5 {
  background-image: url(../multimedia/imagenes/Casa5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}
.swiper-container .card .card-6 {
  background-image: url(../multimedia/imagenes/Casa6.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}
.swiper-container .card .card-7 {
  background-image: url(../multimedia/imagenes/Casa7.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}
.swiper-container .card .card-8 {
  background-image: url(../multimedia/imagenes/Casa8.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}
.swiper-container .card .card-9 {
  background-image: url(../multimedia/imagenes/Casa9.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}
.swiper-container .card:hover {
  transform: scale(1.05);
}
.swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: white;
}
.swiper-container .swiper-slide .card-body {
  background-color: white;
}
.swiper-container .swiper-slide .card-body .card-title {
  font-size: 22px;
}
.swiper-container .swiper-slide .card-body .card-text {
  font-size: 18px;
}
.swiper-container .swiper-slide .card-body .btn {
  background-color: rgb(121, 7, 7);
  color: white;
}
.swiper-container .swiper-button-next {
  color: black;
}
.swiper-container .swiper-button-prev {
  color: black;
}

.article {
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(121, 7, 7));
}
.article video {
  padding: 20px;
  background-color: rgb(121, 7, 7);
}

footer {
  background-color: rgb(121, 7, 7);
  font-size: 18px;
  height: auto;
  color: white;
}
footer img {
  height: 90px;
}
footer span {
  font-size: 22px;
  font-weight: bold;
}
footer p {
  font-size: 18px;
}
footer ul li {
  list-style: none;
  font-size: 18px;
  list-style: none;
}
footer ul li a {
  color: white;
}
footer ul li a:hover {
  color: black;
}

.icons a {
  letter-spacing: 7px;
  font-size: 22px;
  text-decoration: none;
  color: white;
}

.jumbotron2 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.19), rgba(255, 255, 255, 0.598)), url(../multimedia/imagenes/Profesionales.png);
}

.main {
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(121, 7, 7));
  color: white;
  padding-left: 22px !important;
  padding-right: 22px !important;
}
.main .nleft, .main .nleft3, .main .nleft2 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 750px;
}
.main .nleft1 {
  background-image: url(../multimedia/imagenes/Oficina\ 3.jpg);
}
.main .nright {
  text-align: justify;
  padding-top: 20px;
  font-size: 18px;
}

.prof {
  transition: all 0.7s;
  color: black;
  height: auto;
  padding: 20px;
}
.prof .card-body {
  background-color: white;
}
.prof .card-body .card-title {
  font-size: 22px;
}
.prof .card-body .card-text {
  font-size: 18px;
}
.prof .card-body .btn {
  background-color: rgb(121, 7, 7);
  color: white;
}

.prof:hover {
  transform: scale(1.05);
}

.jumbotron3 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.8)), url(../multimedia/imagenes/Obras.png);
}

.nleft2 {
  background-image: url(../multimedia/imagenes/Servicios\ 2.webp);
}

.accordion {
  background-color: black;
}
.accordion .accordion-item {
  border: none;
}
.accordion .accordion-item .accordion-header {
  background-color: black;
  height: 80px;
}
.accordion .accordion-item .accordion-header .accordion-button {
  font-size: 22px;
  color: black;
  background-color: white;
}
.accordion .accordion-item .accordion-collapse {
  background-image: linear-gradient(to bottom, rgb(121, 7, 7), rgb(0, 0, 0));
  transition: all 1.5s;
}
.accordion .accordion-item .accordion-collapse .accordion-body ul li {
  padding: 5px;
  color: white;
}
.accordion .accordion-item .accordion-collapse .accordion-body ul li a {
  text-decoration: none;
  color: white;
  font-size: 22px;
}
.accordion .accordion-item .accordion-collapse .accordion-body ul li a:hover {
  color: black;
}

.tipologias {
  background-image: linear-gradient(to top, rgb(121, 7, 7), rgb(0, 0, 0));
  color: white;
  padding: 10px;
  overflow: hidden;
}
.tipologias .tipo-img {
  border: 4px solid black;
  border-radius: 5px;
  height: 220px;
}

.Casa1-img {
  /*background-image: url(../multimedia/imagenes/Casa1.jpg);*/
  background-image: url("../multimedia/imagenes/Casa1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all 0.5s;
  margin-bottom: 10px;
  filter: grayscale(100%);
}

.Casa2-img {
  /*background-image: url(../multimedia/imagenes/Casa1.jpg);*/
  background-image: url("../multimedia/imagenes/Casa2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all 0.5s;
  margin-bottom: 10px;
  filter: grayscale(100%);
}

.Casa3-img {
  /*background-image: url(../multimedia/imagenes/Casa1.jpg);*/
  background-image: url("../multimedia/imagenes/Casa3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all 0.5s;
  margin-bottom: 10px;
  filter: grayscale(100%);
}

.Casa4-img {
  /*background-image: url(../multimedia/imagenes/Casa1.jpg);*/
  background-image: url("../multimedia/imagenes/Casa4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all 0.5s;
  margin-bottom: 10px;
  filter: grayscale(100%);
}

.Casa5-img {
  /*background-image: url(../multimedia/imagenes/Casa1.jpg);*/
  background-image: url("../multimedia/imagenes/Casa5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all 0.5s;
  margin-bottom: 10px;
  filter: grayscale(100%);
}

.Casa6-img {
  /*background-image: url(../multimedia/imagenes/Casa1.jpg);*/
  background-image: url("../multimedia/imagenes/Casa6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all 0.5s;
  margin-bottom: 10px;
  filter: grayscale(100%);
}

.Casa7-img {
  /*background-image: url(../multimedia/imagenes/Casa1.jpg);*/
  background-image: url("../multimedia/imagenes/Casa7.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all 0.5s;
  margin-bottom: 10px;
  filter: grayscale(100%);
}

.Casa8-img {
  /*background-image: url(../multimedia/imagenes/Casa1.jpg);*/
  background-image: url("../multimedia/imagenes/Casa8.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all 0.5s;
  margin-bottom: 10px;
  filter: grayscale(100%);
}

.Casa9-img {
  /*background-image: url(../multimedia/imagenes/Casa1.jpg);*/
  background-image: url("../multimedia/imagenes/Casa9.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all 0.5s;
  margin-bottom: 10px;
  filter: grayscale(100%);
}

.Casa1-img:hover {
  filter: grayscale(0%);
  background-size: 120%;
}

.Casa2-img:hover {
  filter: grayscale(0%);
  background-size: 120%;
}

.Casa3-img:hover {
  filter: grayscale(0%);
  background-size: 120%;
}

.Casa4-img:hover {
  filter: grayscale(0%);
  background-size: 120%;
}

.Casa5-img:hover {
  filter: grayscale(0%);
  background-size: 120%;
}

.Casa6-img:hover {
  filter: grayscale(0%);
  background-size: 120%;
}

.Casa7-img:hover {
  filter: grayscale(0%);
  background-size: 120%;
}

.Casa8-img:hover {
  filter: grayscale(0%);
  background-size: 120%;
}

.Casa9-img:hover {
  filter: grayscale(0%);
  background-size: 120%;
}

.jumbotron4 {
  background-image: url(../multimedia/imagenes/Servicios.jpg);
}

.nleft3 {
  background-image: url(../multimedia/imagenes/Oficina.jpg);
}

.articulo {
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(121, 7, 7));
  text-align: center;
  padding: 20px;
  color: white;
}
.articulo .servicio {
  transition: all 0.7s;
  color: white;
}
.articulo .servicio h3 {
  font-size: 22px;
}
.articulo .servicio h3 i {
  font-size: 18px;
}
.articulo .servicio p {
  font-size: 15px;
  text-align: justify;
}
.articulo .servicio:hover {
  transform: scale(1.05);
}

.jumbotron5 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.19), rgba(255, 255, 255, 0.598)), url(../multimedia/imagenes/Contacto.png);
}

.loc {
  background-color: black;
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(121, 7, 7));
  color: white;
  padding: 20px;
}
.loc .dire {
  height: 350px;
  margin-bottom: 200px;
}
.loc .dire span {
  font-size: 22px;
  font-weight: bold;
}
.loc .dire p {
  font-size: 18px;
  padding-bottom: 15px;
}

.contacto {
  background-color: rgb(121, 7, 7);
  font-size: 18px;
  height: auto;
  color: white;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(121, 7, 7));
  padding: 20px;
  text-align: left;
}
.contacto p {
  margin-bottom: 10px;
}
.contacto input {
  border-radius: 5px;
  padding: 2px;
  border: 2px solid white;
  font-size: 15px;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  display: block;
  box-shadow: inset 0 0 5px black;
}
.contacto input:focus {
  box-shadow: inset 0 0 5px black;
  border: 5px solid black;
}
.contacto textarea {
  border-radius: 5px;
  padding: 2px;
  border: 2px solid white;
  font-size: 15px;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  box-shadow: inset 0 0 5px black;
}
.contacto textarea:focus {
  box-shadow: inset 0 0 5px rgb(121, 7, 7);
  border: 5px solid rgb(121, 7, 7);
}
.contacto input[type=submit] {
  width: 50px;
  display: inline-block;
}
.contacto input[type=reset] {
  width: 50px;
  display: inline-block;
}

/*# sourceMappingURL=estilos.css.map */
